html {
  font-family: 'Golos Text', sans-serif;
  font-size: 14px;
}
 
@media (max-width: 800px) {
  html {
    font-size: 11px;
  }
  
}
@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0; 
}


:root {
  --black-color: #000; 
  --white-color: #fff; 
  --main-color: #356dbe;
  --secondary-color: #f6f6f6; 
  --page-width: 70vw; 
   
  --grey-color: #dcdcdc; 
  --active-color: var(--main-color);
  --danger-color: tomato; 

  --border-radius: 1.2rem; 
  --transition: all .3s ease; 
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  /* zindexes */
  --level-one: 100; 
  --level-two: 200; 
  --level-three: 300; 
}

@media (max-width: 900px) {
  :root {
    --page-width: 100vw; 
  }
  
}
 
a {
  font-size: 1.2rem; 
  color: var(--black-color);
  text-decoration: none;
  transition: var(--transition); 
  font-weight: 550; 
}
a:hover {
  color: var(--active-color);
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.4rem; 
}